<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bienal2014.app"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" >
    </uses-permission>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <uses-feature android:name="android.hardware.camera" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="org.sca.sca.StarViewActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="org.sca.sca.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="org.sca.sca.controllers.EventDetailActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="org.sca.sca.RegisterActivity"
            android:label="@string/title_activity_register"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="org.sca.sca.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@android:style/Theme.NoTitleBar" >
        </activity>
        <activity
            android:name="org.sca.sca.controllers.CameraActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="org.sca.sca.controllers.GalleryActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="org.sca.sca.controllers.PhotoBoothActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="org.sca.sca.PhotoBookActivity"
            android:label="@string/title_activity_photo_book" >
        </activity>
    </application>

</manifest>
